.content-container{
    height: calc(100vh - 187px);
    overflow-x: hidden;
}

.nav-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 1rem 2rem;
}

.nav-bar button{
    background-color: white;
}